.Btn {
  @include p(0.6em 1.5em);
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 0.9em;
  border-radius: 3px;

  @include target(safari) {
    @include p-bottom(0.7em);
  }

  //
  // Primary
  //

  &.--primary {
    color: brand(_almostwhite);
    background: brand();
    box-shadow: 0 1px 2px ts(0.35);

    &:focus {
      background: value(brand(), 5);
      box-shadow: 0 2px 5px ts(0.35);
    }

    &:active {
      box-shadow: 0 1px 1px ts(0.35);
      transform: scale(0.96);
    }

    &:disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &:hover {

      @include desktop {
        background: value(brand(), 4);
        box-shadow: 0 2px 5px ts(0.35);
      }
    }
  }

  //
  // Secondary
  //

  &.--secondary {
    @include m-left(1em);
    background: brand(_offwhite);
    box-shadow: 0 1px 2px ts(0.2);

    @include theme(dark) {
      color: brand(_nearblack);
    }

    &:focus {
      background: value(brand(_offwhite),1);
      box-shadow: 0 2px 5px ts(0.2);
    }

    &:active {
      box-shadow: 0 1px 1px ts(0.2);
      transform: scale(0.96);
    }

    &:hover {
      
      @include desktop {
        background: value(brand(_offwhite),1);
        box-shadow: 0 2px 5px ts(0.2);
      }
    }
  }
}

