.Contact {
  @extend %content;
  @include p-top(120px);
  @include m-top(60px);
  
  h2 {
    @include m-bottom(1.5em);
    justify-self: start;
  }
  
  address {
    @extend %flex;
    @include m-bottom(60px);
    flex-direction: column;
    align-items: start;
    
    @include phoneLan {
      grid-column: 1 / span 3;
    }
  }

  // Links
  a {
    @include display(inline-flex);
    @include m-bottom(1em);
    align-items: center;
    color: brand(_darkgray);

    @include theme(dark) {
      color: brand(_offwhite);
    }

    &:hover {
      
      @include desktop {
        color: brand();
      }
    }

    &:focus {
      @extend %mainColor;
    }

    &:active {
      transform: scale(0.96);
      transform-origin: 0 50%;
    }
  }
  
  // Icons
  svg {
    @include wh(2em);
    @include m(auto 0.7em auto 0);
    stroke: brand(_darkgray);
    stroke-width: 2.6;
    fill: none;

    @include theme(dark) {
      stroke: brand(_offwhite);
    }
    
    @at-root
    #contact a:focus svg {
      stroke: brand();
    }
    
    @at-root
    #contact a:hover svg {
      
      @include desktop {
        stroke: brand();
      }
    }
  }
}
