.Footer {
  @extend %content;
  @extend %content-visibility-auto;
  padding-top: 60px;
  padding-bottom: 90px;
  background: brand(_nearblack);

  @include theme(dark) {
    background: #000;
  }
  
  address, aside {
    
    @include phoneLan {
      grid-column: 1 / span 2;
    }
  }
  
  p,
  small,
  address {
    font-size: 0.9rem;
    text-align: left;
    letter-spacing: 0.02em;
  }

  p,
  address,
  small {
    color: brand(_offwhite);
  }
  
  address {
    font-weight: normal;
    line-height: 1.5;
    
    @include phoneLan {
      grid-row: 1 / 1;
    }
  }
  
  aside {
    margin-top: 30px;
    
    @include phoneLan {
      grid-row: 2 / 2;
    }
  }
  
  & div > p {
    margin-top: 30px;
    
    @include phoneLan {
      margin-top: 0;
      grid-column: 5 / span 3;
      grid-row: 1 / 2;		
    }
  }
  
  a {
    color: brand(_mainlighter);
    
    &:hover {
      text-decoration: underline;
    }
  }
}
