#nav {
  
  a:first-child {
    
    &:hover svg {
        
      * {
        
        @include desktop {
          fill: brand();
        }
      }
    }
    
    &:active svg,
    &:focus svg {
      
      * {
        fill: brand();
      }
    }
  }
  
  a {
    
    &:active,
    &:focus {
      @extend %mainColor;
    }

    &:hover {
      
      @include desktop {
        color: brand();
      }
    }
  }

  &.__show {
    @include transform(translateY(calc(100% + 3px)));
  }

  &.__time {
    @include transition(transform 0.4s);
  }
  
  &.__fixed {
    @include box-shadow(0 1px 3px ts(0.3));
    position: fixed;
    @include t(-59px);
    
    @include tabletPor {
      @include t(-93px);
    }
    
    @include desktopLG {
      @include t(-153px);
    }
  }
}

#lang {

  &:focus {
    @extend %mainColor;
    box-shadow: 0 2px 5px ts(0.2);
  }

  &:hover {
    
    @include desktop {
      color: brand();
      box-shadow: 0 2px 5px ts(0.2);
    }
  }
}
