#work {
  @extend %content;
  @include p-top(120px);
  @include m-top(60px);

  // Title
  h2 {
    @include w;
    @include m-bottom(1em);
    
    @include desktop {
      @include m-left(8%);
    }

    @include desktopLG {
      @include m-left(calc((100% - 1436px) / 2));
    }
  }
  
  .Thumb {
    @include m-bottom(60px);
  }
}


#codepen {
  @extend %content;
  @include m-top(120px);
  text-align: center;
  
  svg {
    @include size(100px);
    @include m(auto);
    stroke-width: 1.6;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: brand(_darkgray);

    @include theme(dark) {
      stroke: brand(_offwhite);
    }
  }
  
  p {
    @include max-w(600px);
    @include m(0.8em auto 0);
  }

  h4 {
    font-size: 1.3rem;
  }

  .Btn {
    @include m(1em auto);
  }
}
