/**
 *  Contents:
 *
 *  Grid
 *  Global Styles and Resets
 *  Common Rules
 *  Buttons
 */



//
//  Grid
//

[flexr-grid] {
   width: 100%;
   padding-right: 18px;
   padding-right: minmax(18px, safe-area-inset-right);
   padding-left: 18px;
   padding-left: minmax(18px, safe-area-inset-left);
   margin: 0 auto
}

[flexr-grid] {
   display: grid;
   grid: none / repeat(7, 1fr);
   grid-column-gap: 18px;
   column-gap: 18px
}

[flexr-grid] > * {
   grid-column: 1 / -1
}


//
//  Global Styles and Resets
//

*::before, *::after {
   box-sizing: border-box
}

ul, li, h2, h3, h4, h5, form, fieldset, label, legend, input, textarea, button {
   padding: 0;
   margin: 0;
   border: 0
}

img, li::before {
   font-size: 0
}

input, textarea, button {
   @include appearance(none);
}

ul {
   list-style: none
}

// Needed for VoiceOver in Safari
li::before {
   display: block;
   content: "\200C"
}

abbr {
   text-decoration: none;
   color: inherit
}

button, textarea {
   font: inherit
}

h2, h5 {
   display: inline-block;
   height: 1em;
   width: auto;
   
   &::after {
      content: "";
      width: 100%;
      height: 4px;
      background: brand(_main);
      top: -0.1em;
      z-index: -1;
      border-radius: 2px
   }
}

h2 {
   font-size: 2rem
}

a:focus, a:active {
   outline: 0
}

a:hover {
   cursor: pointer
}

address {
   font-style: normal
}

main {
   padding: 10vh 0 20vh
}



//
//  Common Styles
//

main, img, footer {
   width: 100%
}

img, source, picture, h2::after, h5::after {
   display: block
}

h2, h3, h5, legend {
   font-family: Montserrat, sans-serif;
   font-weight: 900;
   letter-spacing: -0.04em;
   word-spacing: 0.03em;
   text-rendering: geometricPrecision
}

section, h2::after, h5::after {
   position: relative
}



//
//  Buttons
//


/**
 *  Button Root Style
 */

.btn {
   @include tap-highlight-color(transparent);
   display: inline-block;
   height: 50px;
   padding: 0 1.5em;
   font-weight: bold;
   line-height: 50px;
   letter-spacing: 0.02em;
   text-align: center;
   font-size: 0.9em;
   border-radius: 3px;
   cursor: pointer;
   
   @include target(firefox) {
      line-height: 52px;
	}
   
   @include target(safari) {
      line-height: 48px;
   }
}


/**
 *  Primary Buttons
 */

.btn.primary {
   @include box-shadow(0 1px 2px ts(0.35));
   background: brand();
   color: hsl(250,12%,98%);

   &:focus {
      @include box-shadow(0 2px 5px ts(0.35));
      background: value(brand(), 5);
   }

   &:active {
      @include box-shadow(0 1px 1px ts(0.35));
   }

   // &:hover //
}


/**
 *  Secondary Buttons
 */

.btn.secondary {
   @include box-shadow(0 1px 2px ts(0.2));
   background: brand(_darkwhite);
   margin-left: 1em;
   
   &:focus {
      @include box-shadow(0 2px 5px ts(0.2));
      background: value(brand(_darkwhite),1);
   }

   &:active {
      @include box-shadow(0 1px 1px ts(0.2));
   }

   // &:hover //
}
