*::before, *::after {
   box-sizing: border-box
}

ul, li, h2, h3, h4, h5, form, fieldset, label, legend, input, textarea, button {
   padding: 0;
   margin: 0;
   border: 0
}

main, img, footer {
   width: 100%
}

img {
	display: block
}

img, li::before {
	font-size: 0
}

ul {
   list-style: none
}

li::before {
	display: block;
	content: "\200C"
}

abbr {
   text-decoration: none;
   color: inherit
}

button, textarea {
   font: inherit
}

h2, h3, h5, legend {
	font-family: Montserrat, sans-serif;
	font-weight: 900;
	text-rendering: geometricPrecision;
   letter-spacing: -0.04em;
	word-spacing: 0.03em
}

section {
	position: relative
}

h2, h5 {
	display: inline-block;
	height: 1em;
	width: auto;

	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		background: #e82c6a;
		top: -.1em;
		position: relative;
		z-index: -1;
		border-radius: 2px
	}
}

h2 {
	font-size: 2rem;
}

a:focus, a:active {
   outline: 0
}

a:hover {
   cursor: pointer
}

address {
	font-style: normal
}

main {
	padding: 10vh 0 20vh
}





// Link Buttons

button.primary {
   @include appearance(none);
}

.primary, .secondary {
	display: inline-block;
	height: 50px;
	padding: 0 1.5em;
	font-weight: bold;
	line-height: 50px;
	letter-spacing: 0.02em;
	text-align: center;
	font-size: 0.9em;
   border-radius: 3px;
   cursor: pointer;

	@include target(firefox) {
		line-height: 52px;
	}

	@include target(safari) {
		line-height: 48px;
	}
}

// Preview
.primary {
	@include box-shadow(0 1px 2px ts(0.35));
	background: color();
	color: hsl(250,12%,98%);

	&:focus, &:hover {
		@include box-shadow(0 2px 5px ts(0.35));
		background: value(color(),5);
	}

	&:active {
		@include box-shadow(0 1px 1px ts(0.35));
	}
}

// Visit
.secondary {
	@include box-shadow(0 1px 2px ts(0.2));
	background: color(darkwhite);
	margin-left: 1em;

	&:focus, &:hover {
		@include box-shadow(0 2px 5px ts(0.2));
		background: value(color(darkwhite),1);
	}

	&:active {
		@include box-shadow(0 1px 1px ts(0.2));
	}
}
