[flexr-grid] {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;
  margin: 0 auto;

  display: grid;
  grid: none / repeat(7, 1fr);
  grid-column-gap: 18px;
  column-gap: 18px;

  @include tabletPor {
    padding-right: 24px;
    padding-left: 24px;

    grid-column-gap: 24px;
    column-gap: 24px;
  }

  // iPhone X, XS, XR, XS Max Landscape
  @media (min-width: 810px) and (max-height: 416px) {
    padding-right: env(safe-area-inset-right);
    padding-left: env(safe-area-inset-left);
  }

  @include desktop {
    width: 84%;
    max-width: 1436px;
    padding-right: 30px;
    padding-left: 30px;

    grid-column-gap: 30px;
    column-gap: 30px;
  }

  & > * {
    grid-column: 1 / -1;
  }
}
