.Flexr.--grid {
  display: grid;
  grid: none / repeat(7, 1fr);
  grid-column-gap: 18px;
  column-gap: 18px;

  @include tabletPor {
    grid-column-gap: 24px;
    column-gap: 24px;
  }

  @include desktop {
    grid-column-gap: 30px;
    column-gap: 30px;
  }

  & > * {
    grid-column: 1 / -1;
  }
}
