/**
 *  Contents:
 *
 *  Global Styles and Resets
 *  Common Rules
 *  Buttons
 */



//
//  Global Styles and Resets
//

*::before,
*::after {
  box-sizing: border-box;
}

ul,
li,
h2,
h3,
h4,
h5,
form,
label,
textarea,
button {
  padding: 0;
  margin: 0;
  border: 0;
}

li {
  list-style: none;
}

li::before {
  content: "\200B";
}

abbr {
  text-decoration: none;
  color: inherit;
}

button,
textarea {
  font: inherit;
}

h2 {
  display: inline-block;
  height: 1em;
  width: auto;
  font-size: 1.8rem;
  
  &::after {
    width: 100%;
    height: 4px;
    top: -0.1em;
    z-index: -1;
    content: "";
    border-radius: 2px;
    background: brand();
  }
}

a:focus,
a:active,
button:focus,
button:active {
  outline: 0;
}

address {
  font-style: normal;
}


//
//  Common Styles
//

footer {
  margin-top: 180px;
}

img {
  width: 100%;
}

img,
h2::after,
h5::after {
  display: block;
}

h2,
h3,
h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
  letter-spacing: -0.04em;
  word-spacing: 0.03em;
  text-rendering: geometricPrecision;
}

h5 {
  font: inherit;
  font-size: 1.5rem;
  letter-spacing: 0.01em;
}

section,
h2::after,
h5::after {
  @extend %relative;
}

select,
button {
  @include user-select(none);
  cursor: pointer;
}

textarea {
  line-height: 1.4;
}

p {

  a {

    &:hover {

      @include desktop {
        text-decoration: underline;
      }   
    }

    &:focus {
      text-decoration: underline;
    }
  }
}


.graphical span {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}
