/**
 * Contents:
 *
 * Font
 * Imports
 * Grid
 * Global Styles and Resets
 * Common Rules
 * Logo
 * Nav
 * Hero
 * Media Queries
 */



//
// Font
//

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('/fonts/montserrat-900.woff2') format('woff2'),
    url('/fonts/montserrat-900.woff') format('woff');
}

@font-face {
  font-family: Heebo;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Heebo Regular'),
    url('/fonts/heebo-400.woff2') format('woff2'),
    url('/fonts/heebo-400.woff') format('woff');
}

@font-face {
  font-family: Heebo;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Heebo Bold'),
    url('/fonts/heebo-700.woff2') format('woff2'),
    url('/fonts/heebo-700.woff') format('woff');
}



//
// Imports
//

@import
"../sass/_base/Vars",
"../sass/_base/Mixins",
"../sass/_vendor/turntable";



//
// Global Styles and Resets
//

@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  font: 400 1.1em Heebo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; 
}

body {
  color: brand(_darkgray);
  background: brand(_offwhite);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body,
h1,
p {
  margin: 0;
}

h1,
.Nav a:first-child {
  font: 900 1em / 1.2 Montserrat, sans-serif;
}

svg,
h1 span::after {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: -0.03em;
  word-spacing: 0.1em;
  text-rendering: geometricPrecision;

  // Underlined words
  span {
    display: inline-block;
    
    &::after {
      @include width(0);
      @include height(6px);
      @include margin-top(-0.14em);
      position: relative;
      z-index: -1;
      content: '';
      border-radius: 3px;
      background: brand();
      
      // Animation delay for second word
      @at-root
      h1 span:last-child::after {
        transition: -webkit-inline-size 0.4s 1.2s;
        transition: inline-size 0.4s 1.2s;
      }
      
      // Animation delay override if no second word
      @at-root
      h1 span:first-child::after {
        transition: -webkit-inline-size 0.4s 0.8s;
        transition: inline-size 0.4s 0.8s;
      }
      
      // JS animation
      @at-root
      h1 span.__underline::after {
        @include width(100%);
      }
    }
  }

  // Sibling h1
  .sib & {
    @include padding-top(38vh);
  }
}

p {
  color: brand(_darklight);
  letter-spacing: 0.02em;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}



//
// Logo
//


/**
 * Whole
 */

#logo {
  stroke:#17161d;
  stroke-width: 11;
  stroke-linecap: round;
}


/**
 * Parts
 */

#a {
  fill:#c8c8d2;
}

.c {
  fill:#fafafa;
}

#d {
  fill:#17161d;
}

#e {
  fill:#e82c64;
}

#f {
  fill:#ef6b92;
}

#g {
  fill:#f395b1;
}

#h {
  fill:#9e2b9c;
}

#i {
  fill:#bb6aba;
}

#j {
  fill:#cf95cd;
}



//
// Navigation
//

.Nav {
  @include width(100%);
  @include height(56px);
  @include top(0);
  position: absolute;
  z-index: 99;
  contain: strict;
  background: brand(_offwhite);

  div {
    @include height(100%);
    display: flex;
    align-items: center;
  }

  a {
    font-size: 0.8rem;
    letter-spacing: 0.03em;
    font-weight: 700;
  }

  a:first-child {
    @include margin-right(auto);
    @include margin-bottom(1px);
    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    span {
      display: none;
    }

    svg {
      @include margin-top(1px);
      @include margin-right(0.4em);
      width: 2.6em;
      height: 2.6em;
    }
  }
  
  a:not(:first-child) {
    @include padding-top(0.8em);
    @include padding-right(0.2em);
    @include padding-bottom(0.8em);
    @include padding-left(0.2em);
  }
  
  a:nth-child(1n+2) {
    @include margin-right(0.8em);
  }
}

#lang {
  @include padding-top(0.8em);
  @include padding-right(1.6em);
  @include padding-bottom(0.8em);
  @include padding-left(0.5em);
  color: inherit;
  font-size: 0.7rem;
  font-weight: 700;
  border: 0;
  border-radius: 3px;
  background:
    brand(_almostwhite)
    url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path style='fill:none;stroke:%23373445;stroke-width:2' d='M3,7 10,15 17,7'/></svg>")82% center / 12px 12px
    no-repeat;
  box-shadow: 0 1px 2px ts(0.2);
  cursor: pointer;
  -webkit-appearance: none;
}


//
// Hero
//

.Hero {
  @include height(100vh);
  display: flex;
  contain: layout;
  flex-direction: column;
  justify-content: center;
  transition: height 0.4s;
}

.Hero.__intro {

  h1, p {
    opacity: 0;
    transform: translateX(-50%);

    @media (prefers-reduced-motion:reduce) {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.Hero h1,
.Hero p {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.4s 0s, opacity 0.4s 0s;
  transform-style: preserve-3d;
}

.Hero p {
  @include margin-top(0.8em);
  transition: transform 0.4s 0.4s, opacity 0.4s 0.4s;
}

.Arrow {
  @include bottom(40px);
  width: 34px;
  height: 34px;
  position: absolute;
  fill: none;
  stroke: brand(_lightgray);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}



//
// Grid
//

[flexr-wrap] {
  @include padding-left(18px);
  @include padding-right(18px);
  @include margin-left(auto);
  @include margin-right(auto);
}




//
// Media Queries
//


/**
 * Phone Landscape
 */

@media (min-width: 540px) {
  
  .Nav {
    
    a:first-child span {
      display: block;
    }
  }
  
  .Hero {
    
    p,
    h1 {
      @include width(25rem);

      [lang=es] & {
        @include width(27rem);
      }
    }
  }
  
}


/**
 * Tablet Portrait
 */

@media (min-width:768px) {
  
  [flex-wrap] {
    @include padding-right(24px);
    @include padding-right(24px);
  }
  
  h1 {
    font-size: 2.6rem;
  }
  
  .Nav {
    @include height(90px);

    a:first-child {
      font-size: 1.13rem;
    }
    
    a:nth-child(1n+2) {
      @include margin-right(1.6em);
    }
  }

  #lang {
    @include padding-top(0.6em);
    @include padding-bottom(0.6em);
  }

}


// iPhone X, XS, XR, XS Max Landscape
@media (min-width: 810px) and (max-height: 416px) {

  [flex-wrap] {
    @include padding-right(env(safe-area-inset-right));
    @include padding-left(env(safe-area-inset-left));
  }

}



/**
 * Desktop
 */

@media (min-width:1280px) {

  [flexr-wrap] {
    @include width(84%);
    @include padding-left(30px);
    @include padding-right(30px);
    -webkit-max-inline-size: 1436px;
    max-inline-size: 1436px;
  }

  html {
    font-size: 1.25em;
  }

}


/**
 * Desktop Large
 */

@media (min-width:1680px) {

  html {
    font-size: 1.38em;
  }

  .Nav {
    @include height(150px);
  }

}


/**
 * Dark Theme
 */

@media (prefers-color-scheme:dark) {

  body,
  .Nav {
    background: brand(_nearblack);
  }

  body,
  p {
    color: brand(_darkwhite)
  }

  #lang {
    color: brand(_darkgray)
  }

}
