#footer {
   padding-top: 60px;
   padding-bottom: 90px;
	background: color(nearblack);
	
	address, p:nth-of-type(1) {

		@include phoneLan {
			grid-column: 1 / span 2
		}
	}

   p, small, address {
      font-size: 0.9rem;
      color: color(darkwhite);
      text-align: left;
      letter-spacing: 0.2pt;
   }

   address {
		font-weight: normal;
		line-height: 1.5;

		@include phoneLan {
			grid-row: 1 / 1
		}
	}
	
	small {
		color: color(slightgray);
	}

   p:nth-of-type(1) {
		margin-top: 30px;

		@include phoneLan {
			grid-row: 2 / 2
		}
	}
	
	p:nth-of-type(2) {
		margin-top: 30px;

		@include phoneLan {
			margin-top: 0;
			grid-column: 5 / span 3;
			grid-row: 1 / 2;		
		}
   }

   a {
      color: hsl(342,84%,56%);

      &:hover {
         text-decoration: underline
      }
   }
}
