.Btn {
  @include tap-highlight-color(transparent);
  display: inline-block;
  padding: 0.5em 1.5em;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  font-size: 0.9em;
  border-radius: 3px;
  cursor: pointer;
  
  @include target(safari) {
    padding-bottom: 0.7em;
  }
}

//
// Primary
//

.Btn.--primary {
  box-shadow: 0 1px 2px ts(0.35);
  background: brand();
  color: hsl(250,12%,98%);

  &:focus {
     box-shadow: 0 2px 5px ts(0.35);
     background: value(brand(), 5);
  }

  &:active {
     box-shadow: 0 1px 1px ts(0.35);
     transform: scale(0.96);
  }

  &:disabled {
     opacity: 0.3;
     pointer-events: none;
  }

  &:hover {

    @include desktop {
      box-shadow: 0 2px 5px ts(0.35);
      background: value(brand(), 4);
    }
  }
}

//
// Secondary
//

.Btn.--secondary {
  margin-left: 1em;
  background: brand(_darkwhite);
  box-shadow: 0 1px 2px ts(0.2);

  @include theme(dark) {
    color: brand(_nearblack);
  }

  &:focus {
    background: value(brand(_darkwhite),1);
    box-shadow: 0 2px 5px ts(0.2);
  }

  &:active {
     box-shadow: 0 1px 1px ts(0.2);
     transform: scale(0.96);
  }

  &:hover {
    
    @include desktop {
      background: value(brand(_darkwhite),1);
      box-shadow: 0 2px 5px ts(0.2);
    }
  }
}
