.Form {
  @extend %layout;
  @extend %flex;
  flex-direction: column;

  @include tabletPor {
    grid-column: 1 / span 4;
  }

  @include desktop {
    grid-column: 1 / span 3;
  }

  h4 {
    font-size: 1.2rem;
    letter-spacing: -0.03em;
  }

  h4,
  .InputField {
    width: 100%;
  }

  h4,
  .Input {
    margin-bottom: 18px;

    @include tabletPor {
      margin-bottom: 24px;
    }

    @include desktop {
      margin-bottom: 30px;
    }
  }

  button {
    align-self: flex-start;
  }
}




.Honey {
  display: none;
}
