.Form {

  @include tabletPor {
    grid-column: 1 / span 4;
  }

  @include desktop {
    grid-column: 1 / span 3;
  }

  legend {
    font-size: 1.2rem;
    letter-spacing: -0.03em;
  }

  fieldset {
    display: flex;
    flex-direction: column;
  }

  label {
     
    span {
      display: inline-block;
      font-size: 80%;
      color: brand(_lightgray);
    }

    &:focus-within span {
      color: brand(_two);
    }
  }

  legend,
  .InputField {
    width: 100%;
  }

  legend,
  .Input {
    margin-bottom: 18px;

    @include tabletPor {
      margin-bottom: 24px;
    }

    @include desktop {
      margin-bottom: 30px;
    }
  }

  button {
    align-self: flex-start;
  }
}


.Input {

  span {
    margin-bottom: 0.33em;

    // Hover
    @at-root
    .Input:hover span {
      
      @include desktop {
        color: brand(_two);
      }
    }

    // Active, Focus
    @at-root
    .InputField:focus span {
      color: brand(_two);
    }
  }
}


.InputField {
  padding: 12px;
  font-size: 1rem;
  box-shadow: 0 1px 2px ts(0.2);
  border-radius: 3px;
  border: 1px solid brand(_almostwhite);
  color: brand(_darkgray);
  background: brand(_almostwhite);
  outline: 0;

  // Hover
  @at-root
  .Input:hover & {
    
    @include desktop {
      box-shadow: 0 3px 8px ts(0.15);
    }
  }

  // Focus
  &:focus {
    box-shadow: 0 3px 8px ts(0.15);
  }

  // Invalid
  @at-root
  .js-sub .InputField:invalid {
    border-color: #F30;
  }
}


.Radio {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 15px;

  &.--buffer {
    margin-bottom: 40px;
  }

  &:active {
    transform: scale(0.98);
    transform-origin: 0 50%;
  }

  span {
    padding-left: 0.6em;
    cursor: pointer;

    @supports (-moz-orient:vertical) {
      margin-top: 2px;
    }

    // Hover
    @at-root
    .Radio:hover span {

      @include desktop {
        color: brand(_two);
      }
    }

    // Focus
    @at-root
    .Radio:focus span {
      color: brand(_two);
    }

    // Disabled
    @at-root
    .RadioBtn:disabled + span {
      color: brand(_slightgray);
      cursor: default;
    }
  }
}


.RadioBtn {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid brand(_lightgray);
  outline: 0;
  background: brand(_offwhite);

  @include desktop {
    cursor: pointer;
  }

  // Hover
  @at-root
  .Radio:hover &:not(:disabled) {
    
    @include desktop {
      border-color: brand(_two);
    }
  }

  // Focus
  &:focus:not(:disabled) {
    border-color: brand(_two);
  } 

  // Checked
  &:checked {
    background: brand(_two);
    border-color: brand(_two);
  }

  // Disabled
  &:disabled {
    border-color: brand(_slightgray);
    cursor: auto;
  }
}


.Honey {
  display: none;
}
