.Form {
  @extend %content;

  @include tabletPor {
    grid-column: 1 / span 4;
  }

  @include desktop {
    grid-column: 1 / span 3;
  }

  legend {
    font-size: 1.2rem;
    letter-spacing: -0.03em;
  }

  fieldset {
    display: flex;
    flex-direction: column;
  }

  legend,
  .InputField {
    width: 100%;
  }

  legend,
  .Input {
    margin-bottom: 18px;

    @include tabletPor {
      margin-bottom: 24px;
    }

    @include desktop {
      margin-bottom: 30px;
    }
  }

  button {
    align-self: flex-start;
  }
}








.Honey {
  display: none;
}
