.Radio {
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
  margin-bottom: 30px;

  & + & {
    margin-top: -15px;
  }

  span {
    padding-left: 0.5em;
    margin-top: 1px;
    cursor: pointer;

    @supports (-moz-orient:vertical) {
      margin-top: 2px;
    }

    // Hover
    @at-root
    .Radio:hover .RadioBtn:not(:disabled) + span {

      @include desktop {
        color: brand(_two);
      }
    }

    // Focus
    @at-root
    .Radio:focus span {
      color: brand(_two);
    }

    // Disabled
    @at-root
    .RadioBtn:disabled + span {
      opacity: 0.3;
      pointer-events: none;
    }
  }
}


.RadioBtn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid brand(_lightgray);
  outline: 0;
  background: brand(_offwhite);

  @include desktop {
    cursor: pointer;
  }

  // Hover
  @at-root
  .Radio:hover &:not(:disabled) {
    
    @include desktop {
      border-color: brand(_two);
    }
  }

  // Active
  @at-root
  .Radio:active & {
    transform: scale(0.8);
  }

  // Focus
  &:focus:not(:disabled) {
    border-color: brand(_two);
  } 

  // Checked
  &:checked {
    background: brand(_two);
    border-color: brand(_two);
  }

  // Disabled
  &:disabled {
    // border-color: brand(_slightgray);
    opacity: 0.3;
    pointer-events: none;
  }
}
