.Thumb {

  &:nth-of-type(even) {

    picture {
      grid-column-start: 4;
    }

    h3 {
      text-align: right;
    }

    .cta {
      justify-self: end;
    }
  }

  picture {
    margin-bottom: 18px;
    grid-row: 1;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #DDD;
  
    @include theme(dark) {
      border-color: brand(_darkgray);
    }
    
    @include phoneLan {
      margin-bottom: 0;
      grid-column-end: span 4;
      grid-row: 1 / 3;
    }
  }

  h3 {
    margin-bottom: 0.8em;
    font-size: 1.3rem;
    grid-row: 2;
    align-self: end;
    line-height: 1;
    color: brand(_darkgray);

    @include theme(dark) {
      color: brand(_darkwhite);
    }
    
    @include phoneLan {
      grid-column: span 3;
      grid-row: 1 / 2;
    }
  }
}
