#work {
  @extend %content;
  padding-top: 10vh;
  padding-bottom: 20vh;
  
  // Title
  h2 {
    width: auto;
    margin-bottom: 1em;
    
    @include desktop {
      margin-left: 8%;
    }
  }
  
  .Thumb {
    margin-bottom: 60px;
  }
  
  .cta {
    display: flex;
    grid-row: 3;
    align-self: start;
    
    @include phoneLan {
      grid-column: span 3;
      grid-row: 2 / 3;
    }
  }
}


#codepen {
  @extend %layout;
  padding-top: 120px;
  text-align: center;
  
  svg {
    @include size(100px);
    margin: 0 auto;
    stroke-width: 1.6;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: brand(_darkgray);

    @include theme(dark) {
      stroke: brand(_darkwhite);
    }
  }
  
  p {
    max-width: 600px;
    margin: 0 auto 1.2em;
  }
}
