#work {
  @extend %content;
  padding-top: 120px;
  margin-top: 60px;

  // Title
  h2 {
    width: auto;
    margin-bottom: 1em;
    
    @include desktop {
      margin-left: 8%;
    }
  }
  
  .Thumb {
    margin-bottom: 60px;
  }
  
  .cta {
    @extend %flex;
    grid-row: 3;
    align-self: start;
    
    @include phoneLan {
      grid-column: span 3;
      grid-row: 2 / 3;
    }
  }
}


#codepen {
  @extend %layout;
  padding-top: 120px;
  text-align: center;
  
  svg {
    @include size(100px);
    margin-left: auto;
    margin-right: auto;
    stroke-width: 1.6;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: brand(_darkgray);

    @include theme(dark) {
      stroke: brand(_darkwhite);
    }
  }
  
  p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.2em;
    -webkit-max-inline-size: 600px;
    max-inline-size: 600px;
  }
}
