{{ define "SITE" }}

{{ $project := .Params.id }}


  <!-- Hero -->

  {{ partial "Hero" ( dict "one" .Params.one "two" .Params.two ) }}


  <!-- Navigation -->

  {{ partial "Nav" . }}


  <!-- Main Content -->

  <main flexr-wrap>

    <section>

      {{ range $num := seq 3 }}

        <picture>


          <!-- Presentational image -->
      
          <source
            type='image/webp'
            srcset='
              /img/{{ $project }}/{{ $project }}-{{ $num }}-xs.webp 750w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-sm.webp 1080w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-md.webp 1280w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-lg.webp 1440w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-xl.webp 1920w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-fl.webp 2880w
            '
          />
      
          <source
            type='image/jpeg'
            srcset='
              /img/{{ $project }}/{{ $project }}-{{ $num }}-xs.jpg 750w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-sm.jpg 1080w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-md.jpg 1280w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-lg.jpg 1440w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-xl.jpg 1920w,
              /img/{{ $project }}/{{ $project }}-{{ $num }}-fl.jpg 2880w
            '
          />
          
          <img
            src='/img/{{ $project }}/{{ $project }}-{{ $num }}-fl.jpg'
            alt='{{ T "aria_sib" ( dict "title" ( $project | title ) "num" $num ) }}'
          />
      
        </picture>

      {{ end }}


      {{ .Content | safeHTML }}


      <!-- Visit -->

      {{ if .Params.link }}

        {{ $visit := newScratch }}
        {{ $visit.Set "type" "link" }}
        {{ $visit.Set "theme" "primary" }}
        {{ $visit.Set "link" .Params.link }}
        {{ $visit.Set "rel" .Params.rel }}
        {{ $visit.Set "title" .Params.id }}
        {{ $visit.Set "text" "visit" }}

        {{ partial "Btn" $visit }}

      {{ end }}

    </section>

  </main>


{{ end }}
