{{ define "SITE" }}


  <!-- Hero -->

  {{ partial "Hero" ( dict "one" .Params.one "two" .Params.two ) }}


  <!-- Navigation -->

  {{ partial "Nav" . }}


  <!-- Main Content -->

  <main flexr-wrap>

    <section>


      <!-- Thumbs Logic -->

      {{ $xs := dict "size" "xs" "width" 750 }}
      {{ $sm := dict "size" "sm" "width" 1080 }}
      {{ $md := dict "size" "md" "width" 1280 }}
      {{ $lg := dict "size" "lg" "width" 1440 }}
      {{ $xl := dict "size" "xl" "width" 1920 }}
      {{ $fl := dict "size" "fl" "width" 2880 }}
      {{ $sizes := dict "a" $xs "b" $sm "c" $md "d" $lg "e" $xl "f" $fl }}
      {{ $project := .Params.id }}


      {{ range $num := seq 3 }}

        <picture>

          <source
            type='image/webp'
            srcset='{{- range $key, $value := $sizes -}}
              /img/{{ $project }}/{{ $project }}-{{ $num }}-{{ $value.size }}.webp {{ $value.width }}w{{ if ne $key "f" }},{{ end }}
            {{- end -}}'
          />

          <img 
            src='/img/{{ $project }}/{{ $project }}-{{ $num }}-fl.jpg'
            alt='{{ T "aria_sib" ( dict "title" ( $project | title ) "num" $num ) }}'
            srcset='{{- range $key, $value := $sizes -}}
              /img/{{ $project }}/{{ $project }}-{{ $num }}-{{ $value.size }}.jpg {{ $value.width }}w{{ if ne $key "f" }},{{ end }}
            {{- end -}}'
          />

        </picture>

      {{ end }}


      {{ .Content | safeHTML }}


      <!-- Visit -->

      {{ if .Params.link }}

        {{ $visit := newScratch }}
        {{ $visit.Set "type" "link" }}
        {{ $visit.Set "theme" "primary" }}
        {{ $visit.Set "link" .Params.link }}
        {{ $visit.Set "rel" .Params.rel }}
        {{ $visit.Set "title" .Params.id }}
        {{ $visit.Set "text" "visit" }}

        {{ partial "Btn" $visit }}

      {{ end }}

    </section>

  </main>


{{ end }}
