/**
 *  Contents:
 *
 *  Colors
 *  Grid
 */



// -- Hero -- //

body > header {

	// Arrow
	svg {
		@include transition(opacity 0.4s);

		&.js-fade {
			opacity: 0;
		}
	}
}



// -- Work -- //

#work {
	padding-top: 10vh;
	padding-bottom: 20vh;

	// Title
	h2 {
		width: auto;
		margin-bottom: 1em;

		@include desktop {
			margin-left: 10%
		}
	}

	// Preview sections
	section {
		margin-bottom: 60px
	}
	
	// Preview titles
	h3 {
		margin-bottom: 0.8em;
		font-size: 1.3rem;
		grid-row: 2;
		align-self: end;
		line-height: 1;
		color: color(darkgray);
		
		@include phoneLan {
			grid-column: span 3;
			grid-row: 1 / 2;

			@at-root #turntable h3 {
				text-align: right
			}
		}
	}

	// CTA group
	.cta {
		grid-row: 3;
		align-self: start;

		@include phoneLan {
			grid-column: span 3;
			grid-row: 2 / 3;

			// Right align second section
			@at-root #turntable .cta {
				justify-self: end;
			}
		}
	}
}


// Thumbs

div.thumb {
	margin-bottom: 18px;
	grid-row: 1;
	position: relative;
	overflow: hidden;
	border-radius: 4px;
	border: 1px solid #{color(darkwhite)};

	@include phoneLan {
		margin-bottom: 0;
		grid-column-end: span 4;
		grid-row: 1 / 3;

		// Second section
		@at-root #turntable div.thumb {
			grid-column-start: 4
		}
	}

	// Mask
	&::before {
		display: block;
		width: 100%;
		padding-top: 62.4%;
		content: ""
	}

	// Sprite
	img {
		@include size(100% 300%);
		@include xy(0);
		position: absolute;

		@at-root #turntable img {
			top: -100%
		}

		@at-root #leadshub img {
			top: -200%
		}
	}
}




// -- About -- //

#about {
	padding-top: 10vh;
	padding-bottom: 10vh;

	h3, p, li {
      color: color(darklight);
	}

	// Title
	h2 {
		margin-bottom: 1em;
		justify-self: start;

		@include phoneLan {
			grid-column: span 2;
			grid-row: 1
		}
	}
	
	// About text
	p {
		margin-bottom: 120px;

		@include phoneLan {
			grid-column: span 4;
			grid-row: 2
		}
   }
   
   a:hover {
      @extend %mainColor;
  }

	// Skills sections
	section {
		margin-bottom: 30px;
		
		@include phoneLan {
			margin-bottom: 0;
			grid-column: span 2;
			grid-row: 3
		}
	}

	// Skills Title
	h4 {
		font-weight: lighter;
		font-size: 1.2rem;
		margin-bottom: 0.8em;
	}

	// Icons
	svg {
      @include size(100px);
		stroke-width: 1.6;
		fill: none;
      stroke-linejoin: round;
      stroke-linecap: round;
		stroke: color(darkgray);
	}
	
	// List
	li {
		font-size: 0.9rem;
		line-height: 1.3;
		margin-bottom: 0.4em
	}
}


// Skills

#design {
	color: hsl(342,80%,48%)
}

#development {
	color: hsl(320,70%,41%)
}

#experience {
	color: hsl(300,60%,39%)
}



// -- Contact -- //

#contact {
	@include display(flex);
	@include flex-direction(column);
	@include align-items(flex-start);
   padding: 20vh 0 0;
   margin-bottom: 60px;
	
	@include phoneLan {
		grid-column: 1 / span 3
	}

	// Title
	h5 {
		font-size: 2rem;
		margin-bottom: 1em
	}

	// Links
	a {
		@include display(inline-flex);
		@include align-items(center);
		margin-bottom: 1em;
		color: color(darkgray);

		&:hover {
			color: color()
		}

	}

	// Icons
	svg {
		@include size(2em);
		margin: auto 0.7em auto 0;
		stroke: color(darkgray);
		stroke-width: 2.6;
		fill: none;

		@at-root #contact a:hover svg {
			stroke: color();
		}
   }
}

#about {

   form {

      @include tabletPor {
         grid-column: 1 / span 4
      }

      @include desktop {
         grid-column: 1 / span 3
      }
   }

   legend {
      font-size: 1.2rem;
      letter-spacing: -0.03em
   }

   label {
      
      span {
         display: inline-block;
         margin-bottom: 0.33em;
         font-size: 80%;
         color: color(lightgray)
      }

      &:focus-within span {
         color: color(nearblack)
      }
   }

   legend, input, textarea {
      width: 100%;
      margin-bottom: 18px;

      @include tabletPor {
         margin-bottom: 24px
      }

      @include desktop {
         margin-bottom: 30px
      }
   }

   input, textarea {
      padding: 12px;
      font-size: 1rem;
      box-shadow: 0 1px 2px ts(0.2);
      border-radius: 3px;
      border: 1px solid #FEFEFF;
      color: color(darkgray);
      background: #FEFEFF
   }

   textarea {
      line-height: 1.4
   }

   input:hover, textarea:hover, input:focus, textarea:focus {
      outline: 0;
      box-shadow: 0 3px 7px ts(0.15)
   }

   .js-sub input:invalid, .js-sub textarea:invalid {
      border-color: #F30
   }
}
