/**
 * Contents:
 *
 * Imports
 * Font
 * Grid
 * Global Styles and Resets
 * Common Rules
 * Logo
 * Nav
 * Hero
 * Media Queries
 */



//
// Imports
//

@import
"base/Vars",
"vendor/turntable",
"base/Mixins"
;



//
// Font
//

@font-face {
  src: 
    url('/fonts/montserrat-900.woff2') format('woff2'),
    url('/fonts/montserrat-900.woff') format('woff');
  font-display: swap;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  src: 
    url('/fonts/heebo-700.woff2') format('woff2'),
    url('/fonts/heebo-700.woff') format('woff');
  font-display: swap;
  font-family: Heebo;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  src: 
    url('/fonts/heebo-400.woff2') format('woff2'),
    url('/fonts/heebo-400.woff') format('woff');
  font-display: swap;
  font-family: Heebo;
  font-style: normal;
  font-weight: 400;
}



//
// Global Styles and Resets
//

@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

:root {
  font: 400 1.1em Heebo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --bkg:#{brand(_almostwhite)};
  --frg:#{brand(_darkgray)};
}

body {
  color: var(--frg);
  background: var(--bkg);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body,
h1,
p {
  @include m;
}

h1,
.Nav a:first-child {
  font-family: Montserrat, sans-serif;
  font-weight: 900;
}

svg,
picture,
h1 span::after {
  display: block;
}

.Nav div,
.Nav a:first-child,
.Hero {
  display: flex;
}

.Nav,
.Arrow {
  position: absolute;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

h1 {
  font-size: 9.2vw;
  letter-spacing: -.03em;
  word-spacing: .1em;
  text-rendering: geometricPrecision;

  // Underlined words
  span {
    display: inline-block;
    
    &::after {
      @include wh(0 6px);
      @include m-top(-.14em);
      position: relative;
      z-index: -1;
      content: '';
      border-radius: 3px;
      background: brand();
      
      // Animation delay for second word
      @at-root
      h1 span:last-child::after {
        transition: inline-size .4s 1.2s;
      }
      
      // Animation delay override if no second word
      @at-root
      h1 span:first-child::after {
        transition: inline-size .4s .8s;
      }
      
      // JS animation
      @at-root
      h1 span.__underline::after {
        @include w(100%);
      }
    }
  }
}

p {
  letter-spacing: .02em;
  line-height: 1.6;
  text-rendering: optimizeSpeed;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}



//
// Logo
//


/**
 * Whole
 */

#logo {
  stroke:#17161d;
  stroke-width: 11;
  stroke-linecap: round;
}


/**
 * Parts
 */

#a {
  fill:#c8c8d2;
}

.c {
  fill:#fafafa;
}

#d {
  fill:#17161d;
}

#e {
  fill:#e82c64;
}

#f {
  fill:#ef6b92;
}

#g {
  fill:#f395b1;
}

#h {
  fill:#9e2b9c;
}

#i {
  fill:#bb6aba;
}

#j {
  fill:#cf95cd;
}



//
// Navigation
//

.Nav {
  @include wh(100% 56px);
  @include t;
  z-index: 99;
  contain: strict;
  background: inherit;

  div {
    @include h(100%);
    align-items: center;
  }

  a {
    font-size: .8rem;
    letter-spacing: .05ch;
    font-weight: 700;
  }

  a:first-child {
    @include m(0 auto 1px 0);
    align-items: center;
    letter-spacing: -.04ch;
    overflow: hidden;

    span {
      text-indent: -15ch;
    }

    svg {
      @include wh(2.6em);
      @include m(1px .4em 0);
    }
  }
  
  a:not(:first-child) {
    @include p(.8em .2em);
  }
  
  a:nth-child(n+2) {
    @include m-right(.8em);
  }
}

.graphical span {
  @include wh(1px);
  position: absolute;
  overflow: hidden;
}

#lang {
  @include p(.8em 1.6em .8em .5em);
  font-size: .7rem;
  font-weight: 700;
  color: brand(_darkgray);
  border: 0;
  border-radius: 3px;
  background:
    brand(_offwhite)
    url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path style='fill:none;stroke:%23373445;stroke-width:2' d='M3,7 10,15 17,7'/></svg>")82% center / 12px 12px
    no-repeat;
  box-shadow: 0 1px 2px ts(.2);
  -webkit-appearance: none;
}


//
// Hero
//

.Hero {
  @include h(100vh);
  contain: layout;
  flex-direction: column;
  justify-content: center;
  transition: block-size .4s;
}

.Hero.__intro {

  h1, p {
    opacity: 0;
    transform: translateX(-50%);

    @media (prefers-reduced-motion:reduce) {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.Hero h1,
.Hero p {
  opacity: 1;
  transform: translateX(0);
  transition: transform .4s 0s, opacity .4s 0s;
  transform-style: preserve-3d;
}

.Hero p {
  @include m-top(.8em);
  transition: transform .4s .4s, opacity .4s .4s;
}

.Arrow {
  @include wh(34px);
  @include b(40px);
  fill: none;
  stroke: brand(_gray);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}



//
// Grid
//

[flexr-wrap] {
  @include p(0 18px);
  @include m(0 auto);
}




//
// Media Queries
//


/**
 * Phone Landscape
 */

@media (min-width: 540px) {
  
  .Nav {
    
    a:first-child span {
      text-indent: 0;
    }
  }

  h1 {
    font-size: 2.7rem;
  }
  
  .Hero {
    
    p {
      @include w(44ch);
    }
    
    h1 {
      @include w(14ch);
    }
  }
  
}


/**
 * Tablet Portrait
 */

@media (min-width:768px) {
  
  [flex-wrap] {
    @include p(0 24px);
  }
  
  .Nav {
    @include h(90px);

    a:first-child {
      font-size: 1.13rem;
    }
    
    a:nth-child(1n+2) {
      @include m-right(1.6em);
    }
  }

  #lang {
    @include p(.6em 1.6em .6em .5em);
  }

}


// iPhone X, XS, XR, XS Max Landscape
@media (min-width:810px) and (max-height:416px) {

  [flex-wrap] {
    @include p(0 env(safe-area-inset-right));
  }

}



/**
 * Desktop
 */

@media (min-width:1280px) {

  :root {
    font-size: 1.25em;
  }

  [flexr-wrap] {
    @include w(84%);
    @include max-w(1436px);
    @include p(0 30px);
  }

}


/**
 * Desktop Large
 */

@media (min-width:1680px) {

  :root {
    font-size: 1.38em;
  }

  .Nav {
    @include h(150px);
  }

}


/**
 * Dark Theme
 */

@media (prefers-color-scheme:dark) {

  :root {
    --frg:#{brand(_almostwhite)};
    --bkg:#{brand(_nearblack)};
  }

}
