{{/*
  * Props
  *
  * type: string (Required)
  * theme: string (Required)
  * text: string (Required)
  * link: string
  * rel: string
  * value: string
 */}}


{{ if eq ( .Get "type" ) "link" }}

  <a
    class='Btn --{{ .Get "theme" }} graphical'
    {{ if .Get "rel" }}
      target='_blank'
      rel='{{ .Get "rel" }}'
    {{ end }}
    href='{{ .Get "link" | safeURL }}'
  >

    {{ .Get "text" | title }}{{ if .Get "span" }} <span>{{ .Get "span" }}</span>{{ end }}

  </a>

{{ else }}

  <button
    name='send'
    class='Btn --{{ .Get "theme" }}'
    type='{{ .Get "type" }}'
    {{ if .Get "value" }}
      data-value='{{ .Get "value" }}'
    {{ end }}
  >

    {{ .Get "text" | title }}

  </button>

{{ end }}
