<!-- Props -->
{{ $type := .Get "type" }} <!-- string -->
{{ $theme := .Get "theme" }} <!-- string -->
{{ $text := .Get "text" }} <!-- string -->
{{ $link := .Get "link" }} <!-- string? -->
{{ $rel := .Get "rel" }} <!-- string? -->
{{ $value := .Get "value" }} <!-- string? -->
{{ $span := .Get "span" }} <!-- string? -->


{{ if eq $type "link" }}

  <a
    class='Btn --{{ $theme }} graphical'
    {{ if $rel }}
      target='_blank'
      rel='{{ $rel }}'
    {{ end }}
    href='{{ $link | safeURL }}'
  >

    {{ $text | title }}{{ if $span }} <span>{{ $span }}</span>{{ end }}

  </a>

{{ else }}

  <button
    name='send'
    class='Btn --{{ $theme }}'
    type='{{ $type }}'
    {{ if $value }}
      data-value='{{ $value }}'
    {{ end }}
  >

    {{ $text | title }}

  </button>

{{ end }}
