<!--
  type: string
  theme: string
  text: string
  link?: string
  rel?: bool
  value?: string
  span?: string
-->


{{ if eq .type "link" }}

  <a
    class='Btn --{{ .theme }} graphical'
    {{ if .rel }}
      target='_blank'
      rel='external nofollow noreferrer noopener'
    {{ end }}
    href='{{ .link | safeURL }}'
  >

    {{- .text | title -}}{{- if .span -}} <span>{{ .span }}</span>{{- end -}}

  </a>

{{ else }}

  <button
    name='send'
    class='Btn --{{ .theme }}'
    type='{{ .type }}'
    {{ if .value }}
      data-value='{{ .value }}'
    {{ end }}
  >

    {{- .text | title -}}

  </button>

{{ end }}
