<!-- Animate Hero Text -->

<script>!function(){function e(){var e=document.querySelectorAll('h1 span');document.querySelector('body > header').classList.remove('__intro'),e.forEach(function(e){e.classList.add('__underline')})}'fonts'in document?document.fonts.ready.then(e):addEventListener('DOMContentLoaded',e,{once:true})}()</script>


<!-- Master -->

{{ $master := resources.Get "css/master.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $master.RelPermalink }}">


<!-- Structured Data (Schema) -->

{{ $webpage := print .Site.BaseURL "#webpage" }}
{{ $website := print .Site.BaseURL "#website" }}
{{ $person := print .Site.BaseURL "#person" }}
{{ $phone := print "+1" .Site.Author.phone }}
{{ $phone = replace $phone "-" "" }}


<script type='application/ld+json'>
  {
    "@context":"http://schema.org",
    "@type":"WebPage",
    "@id":{{ $webpage }},
    "name":{{ .Title }},
    "description":{{ .Description }},
    "url":{{ .Permalink | absURL }},
    "isPartOf":{
      "@type":"WebSite",
      "@id":{{ $website }},
      "name":{{ .Site.Title }},
      "url":{{ .Site.BaseURL }}
    },
    "publisher":{
      "@type":"Person",
      "@id":{{ $person }},
      "name":{{ .Site.Author.name }},
      "description":{{ .Site.Author.title }},
      "address":{
        "@type":"PostalAddress",
        "addressLocality":{{ .Site.Author.city }},
        "addressRegion":{{ .Site.Author.state }}
      },
      "email":{{ .Site.Author.email }},
      "telephone":{{ $phone }},
      "url":{{ .Site.BaseURL }},
      "image":{{ .Site.Params.image }},
      "sameAs":[
        {{ .Site.Author.linkedin }},
        {{ .Site.Author.github }},
        {{ .Site.Author.codepen }}
      ]
    }
  }
</script>
