<form
  class="Form"
  name="drop"
  action="POST"
  netlify-honeypot="honey"
  netlify
>

  <fieldset>

    <legend>{{ T "legend" }}</legend>


    <!-- Honeypot -->

    <label
      class="Honey"
      aria-hidden="true">

      <span>

        Your Company

      </span>

      <input
        type="text"
        name="honey"
      />
    
    </label>


    <!-- Work -->

    <label class="Radio">

      <input
        class="RadioBtn"
        type="radio"
        name="workquest"
        aria-labelledby="wa1"
        aria-disabled="true"
        disabled
      >

      <span
        id="wa1"
        aria-hidden="true"  
      >
 
        {{ T "freelance" }}

      </span>

    </label>

    <label class="Radio --buffer">

      <input
        class="RadioBtn"
        type="radio"
        name="workquest"
        aria-labelledby="wa2"
      >

      <span
        id="wa2"
        aria-hidden="true"  
      >

        {{ T "general" }}

      </span>

    </label>


    <!-- Name -->

    <label class="Input">

      <span
        id="c1"
        aria-hidden="true">

        {{ T "name" }}

      </span>

      <input
        class="InputField"
        name="name"
        type="text"
        autocomplete="name"
        aria-autocomplete="both"
        aria-labelledby="c1"
        aria-required="true"
        required
      />

    </label>


    <!-- Email -->

    <label class="Input">

      <span
        id="c2"
        aria-hidden="true">

        {{ T "email" }}

      </span>

      <input
        class="InputField"
        name="email"
        type="email"
        autocomplete="email"
        aria-autocomplete="both"
        aria-labelledby="c2"
        aria-required="true"
        required 
      />

    </label>


    <!-- Message -->

    <label class="Input">

      <span
        id="c3"
        aria-hidden="true">

        {{ T "message" }}

      </span>

      <textarea 
        class="InputField"
        name="message"
        rows="10"
        aria-labelledby="c3"
        aria-required="true"
        required>
      </textarea>

    </label>


    <!-- Send -->

    <button
      name="send"
      class="Btn --primary"
      type="submit"
    >

      {{ T "send" }}

    </button>

  </fieldset>

</form>
