<form
  id='drop'
  class='Form'
  action='POST'
  netlify-honeypot='honey'
  netlify
>

  <h4>{{ T "legend" | safeHTML }}</h4>


  <!-- Honeypot -->

  <label class='Honey'>

    <span>

      Your Company

    </span>

    <input
      type='text'
      name='honey'
    />
  
  </label>


  <!-- Inquiries -->

  {{ partial "Radio" ( dict "type" "freelance" "disabled" true ) }}
  
  {{ partial "Radio" ( dict "type" "general" "disabled" false ) }}


  <!-- Name -->

  {{ partial "Input" ( dict "type" "text" "name" "name" ) }}


  <!-- Email -->
  
  {{ partial "Input" ( dict "type" "email" "name" "email" ) }}


  <!-- Message -->

  {{ partial "Input" ( dict "type" "textarea" "name" "message" ) }}


  <!-- Send -->

  {{ partial "Btn" ( dict "type" "submit" "theme" "primary" "text" "send" ) }}

</form>
