<form
  class='Form'
  name='drop'
  action='POST'
  netlify-honeypot='honey'
  netlify
>

  <fieldset>

    <legend>{{ T "legend" | safeHTML }}</legend>


    <!-- Honeypot -->

    <label
      class='Honey'
      aria-hidden='true'
    >

      <span>

        Your Company

      </span>

      <input
        type='text'
        name='honey'
      />
    
    </label>


    <!-- Inquiries -->

    {{ partial "Radio" ( dict "type" "freelance" "id" "wa1" "disabled" true ) }}
    
    {{ partial "Radio" ( dict "type" "general" "id" "wa2" "disabled" false ) }}


    <!-- Name -->

    {{ partial "Input" ( dict "type" "text" "name" "name" "id" "c1" ) }}


    <!-- Email -->
    
    {{ partial "Input" ( dict "type" "email" "name" "email" "id" "c2" ) }}


    <!-- Message -->

    {{ partial "Input" ( dict "type" "textarea" "name" "message" "id" "c3" ) }}


    <!-- Send -->

    {{ partial "Btn" ( dict "type" "submit" "theme" "primary" "text" "send" ) }}

  </fieldset>

</form>
