<!--
  Params:
    hero:
      title: string
      copy: string
    (or)
    one: string
    two: string
-->


<header
  class='Hero __intro'
  flexr-wrap
>


  {{ if .IsHome }}

    <h1>{{ .Params.hero.title | safeHTML }}</h1>

    <p>{{ .Params.hero.copy | safeHTML }}</p>

  {{ else }}

    <h1>

      <span>{{ .Params.one | safeHTML }}</span>

      <span>{{ .Params.two | safeHTML }}</span>

    </h1>

  {{ end }}


  <svg class='Arrow' viewBox='0 0 50 50'><path d='M4,25 25,46 46,25'/></svg>

</header>
