{{/*
  * Props
  *
  * name: string (Required)
  * type: string (Required)
 */}}


<label
  class='Input'
  for='{{ .name }}'
>

  <span>

    {{ T .name | safeHTML }}

  </span>


  {{ if eq .type "textarea" }}

    <textarea 
      id='{{ .name }}'
      name='{{ .name }}'
      class='InputField'
      rows='10'
      value=''
      required
    ></textarea>

  {{ else }}

    <input
      id='{{ .name }}'
      name='{{ .name }}'
      class='InputField'
      type='{{ .type }}'
      {{ if eq .type "email" }}
        inputmode='email'
      {{ else }}
        inputmode='text'
      {{ end }}
      value=''
      autocomplete='{{ .name }}'
      aria-autocomplete='both'
      required
    />

  {{ end }}


</label>
