<label class='Input'>

  <span
    id='{{ .id }}'
    aria-hidden='true'
  >

    {{ T .name }}

  </span>


  {{ if eq .type "textarea" }}

    <textarea 
      class='InputField'
      name='{{ .name }}'
      rows='10'
      value=''
      aria-labelledby='{{ .id }}'
      required
    ></textarea>

  {{ else }}

    <input
      class='InputField'
      name='{{ .name }}'
      type='{{ .type }}'
      {{ if eq .type "email" }}
        inputmode='email'
      {{ else }}
        inputmode='text'
        value=''
      {{ end }}
      autocomplete='{{ .name }}'
      aria-autocomplete='both'
      aria-labelledby='{{ .id }}'
      required
    />

  {{ end }}


</label>
