{{ $lang := .Params.lang }}

<label class="graphical">

  <span id="l" aria-hidden="true">{{ T "select" }}</span>
  
  <select id='lang' aria-labelledby="l">

    {{ range .AllTranslations }}

      <option
        lang='{{ .Language.Lang }}'
        value='{{ .Permalink }}'
        aria-label="{{ .Language.LanguageName }}"
        {{ if eq .Language.Lang $lang }}
          selected
        {{ end }}
      >

        {{ .Language.Lang | upper }}

      </option>

    {{ end }}

  </select>

</label>
