{{/*
  * Props
  *
  * this: map (Required):
  *   key: number
  *   type: string
  *   text: map | array
  * lang: string (Required)
 */}}


{{ $skills := "" }}


{{ if eq .this.type "experience" }}

  {{ $skills = index .this.text .lang }}

{{ else }}

  {{ $skills = .this.text }}

{{ end }}


<section aria-labelledby='{{ .this.type }}'>

  <svg><use xlink:href='/img/icons.svg#{{ .this.type }}'/></svg>

  <h4 id='{{ .this.type }}'>{{ T .this.type | title | safeHTML }}</h4>

  <ul aria-labelledby='{{ .this.type }}'>


    {{ range $skills }}

      <li>{{ . | safeHTML }}

    {{ end }}


  </ul>

</section>
