<section
  id="{{ .title }}"
  aria-label='{{ .aria }}'
  flexr-grid
>

  <h3>{{ .title | title }} &mdash; {{ .sub }}</h3>

  <div class="cta">

    <!-- Preview -->

    {{ partial "Btn" (dict "type" "link" "theme" "primary" "title" .title "local" true "rel" .rel "text" "preview") }}

    <!-- Visit -->

    {{ partial "Btn" (dict "type" "link" "theme" "secondary" "title" .title "blank" true "link" .link "rel" .rel "text" "visit") }}

  </div>

  <picture class="Thumb">


    <!-- Presentational image -->

    <source
      type="image/webp"
      srcset="/img/work-xs.webp 750w, /img/work-sm.webp 1080w, /img/work-md.webp 1280w, /img/work-lg.webp 1440w, /img/work-xl.webp 1920w, /img/work-fl.webp 2880w"
    />

    <img
      src="/img/work-fl.jpg"
      srcset="/img/work-xs.jpg 750w, /img/work-sm.jpg 1080w, /img/work-md.jpg 1280w, /img/work-lg.jpg 1440w, /img/work-xl.jpg 1920w, /img/work-fl.jpg 2880w"
      alt=""
    />

  </picture>

</section>
