{{/*
  * Props
  *
  * title: string (Required)
 */}}

{{ $file := replace .title " " "" }}


<section
  id='{{ $file }}'
  aria-label='{{ .title | title }}'
  flexr-grid
>

  <h3>{{ .title | title | safeHTML }} &mdash; {{ T $file | safeHTML }}</h3>

  <div class='cta'>


    <!-- Preview -->

    {{ partial "Btn" ( dict "type" "link" "theme" "primary" "title" $file "text" "preview" "link" $file ) }}


    <!-- Visit -->

    {{ if .link }}

      {{ partial "Btn" ( dict "type" "link" "theme" "secondary" "title" $file "rel" .rel "text" "visit" "link" .link ) }}

    {{ end }}

  </div>

  <picture class='Thumb'>


    <!-- Presentational image -->

    <source
      type='image/webp'
      srcset='
        /img/{{ $file }}/{{ $file }}-1-xs.webp 750w,
        /img/{{ $file }}/{{ $file }}-1-sm.webp 1080w,
        /img/{{ $file }}/{{ $file }}-1-md.webp 1280w
      '
    />

    <img
      src='/img/work-fl.jpg'
      srcset='
        /img/{{ $file }}/{{ $file }}-1-xs.jpg 750w,
        /img/{{ $file }}/{{ $file }}-1-sm.jpg 1080w,
        /img/{{ $file }}/{{ $file }}-1-md.jpg 1280w
      '
      alt=''
    />

  </picture>

</section>
