{{/*
  * Props
  *
  * title: string (Required)
 */}}

{{ $file := replace .title " " "" }}


<section
  id='{{ $file }}'
  class='Thumb'
  aria-label='{{ .title | title }}'
  flexr-grid
>

  <h3 class="fade-Up-2"> {{ .title | title | safeHTML }} </h3>

  <h5 class="fade-Up-2">{{ T $file | safeHTML }}</h5>

  <div class='cta fade-Up-4'>


    <!-- Preview -->

    {{ $preview := newScratch }}
    {{ $preview.Set "type" "link" }}
    {{ $preview.Set "theme" "primary"}}
    {{ $preview.Set "text" "preview" }}
    {{ $preview.Set "title" $file }}
    {{ $preview.Set "link" $file }}

    {{ partial "Btn" $preview }}


    <!-- Visit -->

    {{ if .link }}

      {{ $visit := newScratch }}
      {{ $visit.Set "type" "link" }}
      {{ $visit.Set "theme" "secondary"}}
      {{ $visit.Set "text" "visit" }}
      {{ $visit.Set "title" $file }}
      {{ $visit.Set "link" .link }}
      {{ $visit.Set "rel" .rel }}

      {{ partial "Btn" $visit }}

    {{ end }}

  </div>

  <picture class="fade-Up-1">


    <!-- Presentational image -->

    <source
      type='image/webp'
      srcset='
        /img/{{ $file }}/{{ $file }}-1-xs.webp 750w,
        /img/{{ $file }}/{{ $file }}-1-sm.webp 1080w,
        /img/{{ $file }}/{{ $file }}-1-md.webp 1280w
      '
    />

    <source
      type='image/jpeg'
      srcset='/img/{{ $file }}/{{ $file }}-1-xs.jpg 750w,
        /img/{{ $file }}/{{ $file }}-1-sm.jpg 1080w,
        /img/{{ $file }}/{{ $file }}-1-md.jpg 1280w
      '
    />
    
    <img
      src='/img/{{ $file }}/{{ $file }}-1-md.jpg'
      alt=''
    />

  </picture>

</section>
