<!--
  Params: {
    work: []map[string](string | bool)
    codepen:
      title: string
      copy: string
-->


<section
  id='work'
  class='Work'
  aria-labelledby='w1'
>

  <h2
    id='w1'
    flexr-wrap
  >

    {{ T "work" }}

  </h2>


  <!-- Thumbs -->

  {{ range ( first 4 .Params.work ) }}

    {{ partial "Thumbs" . }}

  {{ end }}


  <!-- Codepen -->

  <aside
    id='codepen'
    aria-labelledby='cp1'
    flexr-wrap
  >

    <svg><use xlink:href='/img/icons.svg#snippet'/></svg>

    <h3 id='cp1'>{{ .Params.codepen.title }}</h3>

    <p>{{ .Params.codepen.copy | safeHTML }}</p>


    <!-- Visit -->

    {{ with ( index .Params.work 4 ) }}

      {{ $visit := newScratch }}
      {{ $visit.Set "type" "link" }}
      {{ $visit.Set "theme" "primary" }}
      {{ $visit.Set "rel" .rel }}
      {{ $visit.Set "link" .link }}
      {{ $visit.Set "text" ( T "visit" ) }}
    
      {{ partial "Btn" $visit.Values }}

    {{ end }}


  </aside>

</section>
