<section
  id='work'
  class='Work'
  aria-labelledby='w1'
>

  <h2
    id='w1'
    flexr-wrap
  >

    {{ T "work" }}

  </h2>


  <!-- Thumbs -->

  {{ range first 3 ( index .Site.Data.work .Params.lang ) }}

    {{ partial "Thumbs" . }}

  {{ end }}


  <!-- Codepen -->

  <section
    id='codepen'
    aria-labelledby='cp1'
    flexr-wrap
  >

    <svg><use xlink:href='/img/icons.svg#snippet'/></svg>

    <h3 id='cp1'>{{ .Params.codepen.title | safeHTML }}</h3>

    <p>{{ .Params.codepen.copy | safeHTML }}</p>


    <!-- Visit -->

    {{ with (index (index .Site.Data.work .Params.lang) 3) }}
    
      {{ partial "Btn" ( dict "type" "link" "theme" "primary" "link" .link  "title" .title "blank" true "rel" .rel "text" "visit" ) }}

    {{ end }}

  </section>

</section>
