.About {
  @extend %content;
  padding-top: 120px;
  margin-top: 60px;

  h3, li {
    color: brand(_darklight);

    @include theme(dark) {
      color: brand(_darkwhite);
    }
  }

  a {
    color: brand();
  }

  // Title
  h2 {
    justify-self: start;

    @include phoneLan {
      grid-column: span 2;
      grid-row: 1;
    }
  }

  // About text
  p {
    margin-top: 2em;

    @include tabletPor {
      grid-column: span 6;
      grid-row: 2
    }

    @include desktop {
      grid-column: span 4;
    }
  }

  // Skills sections
  section {
    margin-top: 30px;

    &:first-of-type {
      margin-top: 120px;
    }

    @include phoneLan {
      margin-top: 120px;
      grid-column: span 2;
      grid-row: 3;
    }
  }

  // Skills Title
  h4 {
    margin-bottom: 0.8em;
    font-size: 1.3rem;
  }

  // Icons
  svg {
    @include size(100px);
    fill: none;
    stroke-width: 1.6;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: brand(_darkgray);

    @include theme(dark) {
      stroke: brand(_darkwhite);
    }
  }
  
  // List
  li {
    margin-bottom: 0.6em;
    font-size: 0.9rem;
    line-height: 1.4;
  }
}


#design {
  color: brand(_textmain);
}

#development {
  color: brand(_three);
}

#experience {
  color: brand(_two);
}
