.Contact {
  @extend %content;
  padding-top: 120px;
  margin-top: 60px;
  
  h2 {
    margin-bottom: 1.5em;
    justify-self: start;
  }
  
  address {
    @extend %flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 60px;
    
    @include phoneLan {
      grid-column: 1 / span 3;
    }
  }

  // Links
  a {
    @include display(inline-flex);
    @include align-items(center);
    margin-bottom: 1em;
    color: brand(_darkgray);

    @include theme(dark) {
      color: brand(_darkwhite);
    }

    &:hover {
      
      @include desktop {
        color: brand();
      }
    }

    &:focus {
      color: brand();
    }

    &:active {
      transform: scale(0.96);
      transform-origin: 0 50%;
    }
  }
  
  // Icons
  svg {
    @include size(2em);
    margin: auto 0.7em auto 0;
    stroke: brand(_darkgray);
    stroke-width: 2.6;
    fill: none;

    @include theme(dark) {
      stroke: brand(_darkwhite);
    }
    
    @at-root
    #contact a:focus svg {
      stroke: brand();
    }
    
    @at-root
    #contact a:hover svg {
      
      @include desktop {
        stroke: brand();
      }
    }
  }
}
