.Thumb {
  @extend %layout;

  @include phoneLan {
    grid-template-rows: 1fr auto 1fr;
  }

  picture {
    @extend %relative;
    margin-bottom: 18px;
    grid-row: 1;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #DDD;
  
    @include theme(dark) {
      border-color: brand(_darkgray);
    }
    
    @include phoneLan {
      margin-bottom: 0;
      grid-column-end: span 4;
      grid-row: 1 / 4;
    }
  }

  h3,
  h5,
  .cta {
    @include phoneLan {
      grid-row: span 1;
    }
  }

  h3 {
    align-self: end;
    font-size: 1.6rem;
    color: brand(_darkgray);

    @include theme(dark) {
      color: brand(_darkwhite);
    }
    
    @include phoneLan {
      grid-column: span 3;
    }
  }

  h5 {
    margin-bottom: 0.7em;

    @include phoneLan {
      grid-column: span 3;
    }
  }

  .cta {
    @extend %flex;
    align-self: start;
    
    @include phoneLan {
      grid-column: span 3;
    }
  }

  &:nth-of-type(even) {

    picture {
      
      @include phoneLan {
        grid-column-start: 4;
      }
    }

    h3,
    h5 {
      
      @include phoneLan {
        text-align: right;
      }
    }

    .cta {
      
      @include phoneLan {
        justify-self: end;
      }
    }
  }
}
