#work {
  @extend %content;
  padding-top: 120px;
  margin-top: 60px;

  // Title
  h2 {
    width: auto;
    margin-bottom: 1em;
    
    @include desktop {
      margin-left: 8%;
    }

    @include desktopLG {
      margin-left: calc((100% - 1436px) / 2);
    }
  }
  
  .Thumb {
    margin-bottom: 60px;
  }
  
  .cta {
    @extend %flex;
    grid-row: 3;
    align-self: start;
    
    @include phoneLan {
      grid-column: span 3;
      grid-row: 2 / 3;
    }
  }
}


#codepen {
  @extend %content;
  margin-top: 120px;
  text-align: center;
  
  svg {
    @include size(100px);
    margin: auto;
    stroke-width: 1.6;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: brand(_darkgray);

    @include theme(dark) {
      stroke: brand(_darkwhite);
    }
  }
  
  p {
    max-width: 600px;
    margin: 0.8em auto 0;
  }

  .Btn {
    margin: 1em auto;
  }
}
