@import "../base/Vars", "../base/Mixins";

@function ts($arg) {
  @return unquote("rgba(0,0,30,#{$arg})");
}

@-ms-viewport {
  width: device-width;
}

* {
  box-sizing: border-box;
}

html {
  font: normal 18px system-ui, sans-serif;
  background: brand(_offwhite);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1 {
  @include m;
}

main {
  @include wh(100vw 100vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  @include r(.02em);
  position: relative;
  font-size: 30vw;
  color: brand(_nearblack);
  line-height: 1;
  animation: intro 2s 0.5s both;
}

div {
  text-align: center;
  animation: afterIntro 1s 2.6s both;
}

@keyframes intro {
  0% {
    transform: translateY(-66%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes afterIntro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  @include m(1.6em 0 2em 0);
  color: brand(_gray);
}

a {
  @include h(50px);
  @include p(0 1.5em);
  @include m-bottom(1em);
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-decoration: none;
  text-align: center;
  color: lighten(brand(_offwhite),2);
  border-radius: 3px;
  background: brand();
  box-shadow: 0 1px 2px ts(0.35);
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  
  @supports (-moz-binding:none) {
    line-height: 52px;
  }
  
  @supports (-webkit-marquee:revert) {
    line-height: 48px;
  }
  
}

a:focus,
a:hover {
  background: lighten(brand(), 5);
  box-shadow: 0 2px 5px ts(0.35);
}

a:active {
  box-shadow: 0 1px 1px ts(0.35);
}

@media (min-width: 520px) {
  
  html {
    font-size: 20px;
  }
  
}

