.sib {
  
  h1 {
    
    span {
      
      &::after {
        
        // Animation delay override for Siblings
        @at-root
        .sib h1 span:first-child::after {
          transition: width 0.4s 0.4s;
        }
        
      }
    }
    
    // Sibling h1
    .sib & {
      padding-top: 38vh;
      line-height: 1.2;
    }
  }

  picture:first-of-type {
    margin-top: 90px;
  }
  
  picture:nth-of-type(n+2) {
    margin-top: 18px;
    
    @include tabletPor {
      margin-top: 60px;
    }
  }
  
  img {
    border-radius: 4px;
    border: 1px solid #DDD;

    @include theme(dark) {
      border-color: #DDD;
    }
  }
  
  section svg {
    @include transition(0.3s);
    @include size(30px);
    position: absolute;
    left: 18px;
    bottom: 18px;
    display: block;
    border-radius: 50%;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    background: #111;
    
    @include desktop {
      @include size(90px);
      opacity: 0;
      
      @at-root
      .sib section a:hover svg {
        opacity: 0.95;
      }
    }
  }
  
  h3,
  .Btn {
    margin-top: 60px;
  }

  .Btn {
    display: inline-block;
  }

  main p {

    &:first-of-type {
      margin-top: 50px;
    }

    b {
      font-weight: 700;
    }
  }
}
