{{ with index .Site.Data.error ( .Site.Language.Lang ) }}

<!doctype html>

<html lang='{{ .Language.Lang }}'>

  <head>

    <meta charset='utf-8'>

    <meta name='viewport' content='width=device-width,initial-scale=1.0'>

    <title>{{ .title }}</title>

    <meta name='description' content='{{ .description }}'>

    {{ $css := dict "outputStyle" "compressed" }}
    {{ $styles := resources.Get "styles/pages/404.scss" | toCSS $css }}

    <style>{{ $styles.Content | safeCSS }}</style>

  </head>

  <body>

    <main>

      <h1>404</h1>

      <div>

        <p>{{ .copy }}</p>

        <a href='{{ "/" | relLangURL }}'>{{ .home }}</a>

      </div>

    </main>

  </body>

</html>

{{ end }}
