{{- $page := index .Site.Data.error (.Site.Language.Lang) -}}

<!doctype html>
<html lang="{{- .Language -}}">
<head>

   <meta charset="utf-8">

   <meta name="viewport" content="width=device-width,initial-scale=1.0,viewport-fit=cover">

   <title>{{- $page.title -}}</title>

   <meta name="description" content="{{- $page.description -}}">

   {{- $snap := resources.Get "sass/_pages/404.scss" | toCSS | minify -}}
   <style>{{- $snap.Content | safeCSS -}}</style>

</head>

<body>

   <main>

      <h1>404</h1>

      <div>

         <p>{{- $page.copy -}}</p>
         
         <a
            href="{{- .Site.BaseURL -}}"
            aria-label='{{- $page.aria_home -}}'>

            {{- $page.home -}}

         </a>

      </div>

   </main>

</body>
</html>
