{{ $page := index .Site.Data.error ( .Site.Language.Lang ) }}

<!doctype html>

<html lang='{{ .Language }}'>

  <head>

    <meta charset='utf-8'>

    <meta name='viewport' content='width=device-width,initial-scale=1.0'>

    <title>{{ $page.title }}</title>

    <meta name='description' content='{{ $page.description }}'>

    {{ $cssOpts := dict "outputStyle" "compressed" }}
    {{ $css := resources.Get "styles/pages/404.scss" | toCSS $cssOpts }}

    <style>{{ $css.Content | safeCSS }}</style>

  </head>

  <body>

    <main>

      <h1>404</h1>

      <div>

        <p>{{ $page.copy }}</p>

        <a href='{{ .Site.BaseURL }}'>

          {{ $page.home }}

        </a>

      </div>

    </main>

  </body>

</html>
