{{ define "SITE" }}


<!-- Hero  -->

<header
   id="hero"
   class="Flexr js-intro">

   <h1>{{ .Params.hero.title | safeHTML }}</h1>

   <p>{{ .Params.hero.copy | safeHTML }}</p>

   <svg
      id="arrow"
      viewBox="0 0 50 50">
      
      <path d="M4,25 25,46 46,25"/>

   </svg>

</header>


<!-- Navigation -->

{{ partial "Nav.html" . }}


<!-- Below the Fold -->


<!-- Main Content -->

<main>


   <!-- Work Section -->

   <section
      id="work"
      aria-labelledby="w1">

      <h2
         id="w1"
         class="Flexr">

         {{- T "work" -}}

      </h2>


      <!-- Thumbs -->

      {{ range (index .Site.Data.work .Params.lang) }}
      
        {{- partial "components/Thumbs.html" . -}}

      {{ end }}


      <!-- Codepen -->

      <section
        id="codepen"
        class="Flexr"
        aria-labelledby="cp1">

        <svg><use xlink:href="/img/icons.svg#snippet"/></svg>

        <h3 id="cp1">{{ .Params.codepen.title }}</h3>

        <p>{{ .Params.codepen.copy | safeHTML }}</p>

        <a
          class="Btn --primary"
          rel="nofollow external noopener"
          target="_blank"
          aria-label="Go to Codepen for snippets"
          href="https://codepen.io/dmbdesignpdx/">
          
          {{- T "visit" -}}
        
        </a>

      </section>

   </section>


   <!-- About Section -->

   <section
      id="about"
      class="Flexr --grid"
      aria-labelledby="a1">

      <h2 id="a1">{{ T "about" }}</h2>

      {{ .Content }}


      <!-- Skills -->

      {{ range .Site.Data.skills }}

        {{- partial "components/Skills.html" . -}}

      {{ end }}


      <!-- Contact Info -->

      <address id="contact">

         <h5>{{ T "contact" }}</h5>

         {{ range (index .Site.Data.contact .Params.lang) }}

            {{- partial "components/Contacts.html" . -}}

         {{ end }}

      </address>


      <!-- Contact Form -->

      {{- partial "components/Form.html" . -}}

   </section>

</main>


{{ end }}
