---
layout: compress
---

<!DOCTYPE html>

<html lang="en">

<head>

{%- include head.html -%}

</head>

<body class="{{ page.class }}">

	<header flexr-wrap>

		<h1>{{ page.one }}<br><span>{{ page.two }}</span></h1>

		<svg viewBox="0 0 50 50"><path d='M4,25 25,46 46,25'/></svg>
		
	</header>

	{%- include nav.html -%}

	<main flexr-wrap>

		<section>

			{%- assign proj = page.permalink | remove: "/" -%}
				{%- for i in (1..3) -%}
						
			<img src="/img/{{ proj }}/{{ proj }}-{{ i }}-fl.jpg" alt="{{ info.alt }}"
					srcset="/img/{{ proj }}/{{ proj }}-{{ i }}-xs.jpg 768w,
								/img/{{ proj }}/{{ proj }}-{{ i }}-sm.jpg 1080w,
								/img/{{ proj }}/{{ proj }}-{{ i }}-md.jpg 1280w,
								/img/{{ proj }}/{{ proj }}-{{ i }}-lg.jpg 1440w,
								/img/{{ proj }}/{{ proj }}-{{ i }}-xl.jpg 1920w,
								/img/{{ proj }}/{{ proj }}-{{ i }}-fl.jpg 2880w,">

			{%- endfor -%}


			<!-- Main Content -->

			{{ content }}

		</section>

	</main>

{%- include footer.html -%}

<div>

{%- include defer.html -%}
		
</div>

</body>
</html>
