<h2 id="a1">About</h2>

<p>Thanks for stopping by! I'm a front end web designer living in Portland,&nbsp;OR. I've always been inspired by and excited about web design and web development &mdash; both have been my passion for the past six years. I was the <em>Design Lead and Front End</em> at <a href="https://dice.services" target="_blank" rel="external nofollow noreferrer" aria-label="Go to the Dice Services website">Dice&nbsp;Services</a>, in which I oversaw all design (digital and print) and maintained/developed the company and product&nbsp;websites.</p>

{{ range $i, $e := .Site.Data.info.skills }}

<section aria-label="Skills {{ $i }} of 3">

   <svg><use xlink:href="/img/icons.svg#{{ lower .type }}"/></svg>

   <h4 id="{{ lower .type }}">{{ .type }}</h4>

   <ul aria-labelledby="{{ lower .type }}">

      {{ range .text }}
      
      <li>{{ . }}

      {{ end }}

   </ul>

</section>

{{ end }}
