<h2 id="a1">About</h2>

<p>Thanks for stopping by! I'm a front end web designer living in Portland,&nbsp;OR. I've always been inspired by and excited about web design and web development &mdash; both have been my passion for the past six years. As the <em>Design Lead and Front End</em> at Dice Services, I maintained and developed the company and product websites while I oversaw and managed all design. Websites should be simple, accessible, responsive, and fast. That is the bar I set for&nbsp;myself.</p>

{{ range $i, $e := .Site.Data.skills }}
{{ $n := add $i 1 }}

<section aria-label="Skills {{ $n }} of 3">

   <svg><use xlink:href="/img/icons.svg#{{ lower .type }}"/></svg>

   <h4 id="{{ lower .type }}">{{ .type }}</h4>

   <ul aria-labelledby="{{ lower .type }}">

      {{ range .text }}
      
      <li>{{ . }}

      {{ end }}

   </ul>

</section>

{{ end }}
