<h5>Contact</h5>

<a href="tel:{{ .Site.Data.site.phone }}"><svg role="img" aria-label="Call: "><use xlink:href="/img/icons.svg#phone"/></svg>{{ substr .Site.Data.site.phone 2 }}</a>

<a href="mailto:{{ .Site.Data.site.email }}"><svg role="img" aria-label="Email: "><use xlink:href="/img/icons.svg#email"/></svg>{{ .Site.Data.site.email }}</a>

<a href="{{ .Site.Data.site.github }}" target="_blank" rel="external noopener" aria-label="My code on Github"><svg><use xlink:href="/img/icons.svg#github"/></svg>{{ replace .Site.Data.site.github "https://github.com/" "" }}</a>
