<a href="tel:{{ .Site.Params.phone }}"><svg role="img" aria-label="Call: "><use xlink:href="/img/icons.svg#phone"/></svg>{{ substr .Site.Params.phone 2 }}</a>

<a href="mailto:{{ .Site.Params.email }}"><svg role="img" aria-label="Email: "><use xlink:href="/img/icons.svg#email"/></svg>{{ .Site.Params.email }}</a>

<a href="{{ .Site.Params.github }}" target="_blank" rel="external noopener" aria-label="My code on Github"><svg><use xlink:href="/img/icons.svg#github"/></svg>{{ replace .Site.Params.github "https://github.com/" "" }}</a>
